@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alegreya+Sans+SC:700|Changa:700|Karma:700|Raleway|Ruda:700|Sofadi+One|Ubuntu+Mono:700|Ultra|Teko:700');

$skill-colors: (#f63a0f, #f27011, #f2b01e, #f2d31b, #86e01e);

.app {
  text-align: center;
  width: 100wh;
  font-family: 'Karma', serif;
  // font-family: 'Ruda', sans-serif;
  // font-family: 'Changa', sans-serif;
  // font-family: 'Ubuntu Mono', monospace;
  // font-family: 'Sofadi One', cursive;

  .parallax {
    background-image: url('../assets/mohamed-mazouz-797941-unsplash.jpg');
    height: 100%;
    color: white;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .profile {
    font-family: 'Teko', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .img-frame {
      display: flex;
      justify-content: center;
      background-color: white;
      border-radius: 100%;
      height: 40vmin;
      width: 40vmin;
      margin-bottom: 20px;
      padding: 10px;

      background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
      background-size: 400% 400%;
      animation: img-frame 15s ease infinite;

      .profile-pic {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        object-fit: cover;
        transform: rotate(-75deg);
      }
    }

    .full-name {
      font-size: 25px;
      font-weight: 800;
    }

    .bio {
      font-size: 18px;
      font-family: 'Ubuntu Mono', monospace;
    }

    .social-icons {
      margin: 20px 0;

      a {
        color: white;
        margin: 0 5px;
      }
    }
  }

  .technologies {
    height: 500px;
    background-color: #ffffff;
    color: black;

    h3 {
      font-size: 30px;
    }
  }

  .about {
    min-height: 800px;
    padding-top: 1px;

    h3 {
      font-size: 30px;
    }

    blockquote {
      font-size: 20px;
      color: white;
      padding: 0.5em;
      font-family: 'Sofadi One', cursive;

      &:before {
        content: "\201C";
        font-family: Georgia, serif;
        font-size: 3rem;
        font-weight: bold;
      }

      &:after {
        content: "\201D";
      }
    }

    .section {
      margin-top: 5px;
      // font-family: 'Ruda', sans-serif;
      font-family: 'Ubuntu Mono', monospace;

      .sub-title {
        background: white;
        color: black;
        padding: 5px;
        // border-radius: 10px;
      }
    }
  }

  .contact {
    min-height: 400px;

    h3 {
      font-size: 30px;
    }
  }

  .footer {
    padding: 10px 0;
    height: 50px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-beat {
      animation: fa-beat 5s ease infinite;
      color: red;
    }
  }

}

.skill-set {
  margin: 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    margin: 0;
    margin-top: 20px;
    font-family: 'Ubuntu Mono', monospace;

    width: 100%;
    text-align: left;

    i {
      margin: 0 10px;
    }
  }

  .skill-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

    .skills {
      text-align: right;
      padding-right: 20px;
      height: 15px;
      color: white;
      line-height: 17px;
      font-size: 10px;
      border-radius: 5px;
    }

    .bar-60 {
      width: 60%;
      background-color: nth($skill-colors, 1);
    }

    .bar-65 {
      width: 65%;
      background-color: nth($skill-colors, 2);
    }

    .bar-80 {
      width: 80%;
      background-color: nth($skill-colors, 3);
    }

    .bar-90 {
      width: 90%;
      background-color: nth($skill-colors, 4);
    }

  }
}