.info-panel {
  width: 53%;
  height: 100%;
  padding-top: 76px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 150px;
  margin: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 7px;
}

